<h1>サーバーサイドB</h1>
<%= button_to "投稿一覧", root_path, method: :get %>
<% if current_user.nil? %>
  <%= button_to "ユーザー登録", new_user_path, method: :get %>
  <%= button_to "ログイン", login_path, method: :get %>
<% else %>
  <%= button_to "新規投稿", new_user_post_path(current_user.id), method: :get %>
  <%= button_to "ログアウト", logout_path, method: :delete %>
<% end %>
<h3><%= notice %></h3>